#loginCard {
    background: var(--lighter-bg-color);
    color: var(--text-color);
}

#loginForm #loginButton {
    color: white;
    background: black;
    font-weight: 500;
    border-radius: 5px;
    border: none !important;
}

#loginForm input {
    border: 0;
    outline: none;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 4px;
}