nav {
    background: var(--lighter-bg-color);
}

nav.navbar .logo {
    font-family: "Space Grotesk";
}

nav.navbar .logo.shadowed::before{
    content: "MIRU PROJECT";
    display: block;
    color: var(--logo-color1);
}

nav.navbar .logo.shadowed::after {
    content: "MIRU PROJECT";
    display: block;
    color: var(--logo-color2);
    transform: rotateX(180deg);
}

nav.navbar #userButton {
    background: none;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 3px;
}

nav.navbar li.nav-item > * > *, nav.navbar li.nav-item > * {
    color: var(--text-color) !important;
}

nav.navbar .dropdown > ul {
    background: var(--lighter-bg-color);
    border: 2px solid var(--text-color);
    overflow: hidden;
    padding: 0;
}

nav.navbar .dropdown > ul > li > *:not(div) {
    padding-top: .6rem;
    padding-bottom: .6rem;
}

nav.navbar .dropdown > ul > li > *:not(div):hover {
    background: var(--bg-color);
}

nav.navbar #themeDropdown li button:hover {
    background: var(--logo-color2);
}

nav.navbar #themeDropdown li button[value="light"]:hover {
    background: #eef43f;
    color: black;
}

nav.navbar #themeDropdown li button[value="dark"]:hover {
    background: #490278;
    color: white !important;
}

nav.navbar .dropdown li > * {
    color: var(--text-color);
}

nav.navbar #toggleButton {
    border: 2px solid var(--text-color);
    color: var(--text-color);
}