@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url("navbar.css");

* {
    font-family: "Space Grotesk";
}

:root {
    --bg-color: #eeeeee;
    --text-color: black;
    --logo-color1: black;
    --logo-color2: #e63522;
}

[theme="dark"] {
    --bg-color: #121212;
    --text-color: #e8e8e8;
    --logo-color1: white;
    --logo-color2: #e63522;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}