nav.navbar.navbar-expand-lg.py-lg-4.px-lg-5.p-3
    a.h1.my-0.logo.shadowed.fw-bold.text-decoration-none(href = "/")
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarExtension" aria-controls="navbarExtension" aria-expanded="false")
        span.navbar-toggler-icon
    .collapse.navbar-collapse.ps-lg-4#navbarExtension
        ul.navbar-nav.mr-auto.fs-4
            li.nav-item
                a.nav-link(href="#") Trang chủ
            li.nav-item
                a.nav-link(href="#") Giai đoạn Beta
            li.nav-item
                a.nav-link(href="#") Tài liệu
            li.nav-item
                a.nav-link(href="#") Liên hệ