script(src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous")
script(src="/lib/jquery.cookie.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js") 
script(src="/js/bootstrap.bundle.js")
script(src="/scripts/script.js")
link(rel="stylesheet", href="/css/bootstrap.css")
link(rel="stylesheet", href="/lib/iconoir.css")
link(rel="stylesheet", href="/styles/style.css")